<article class="event hentry" itemscope itemtype="http://schema.org/Event">
    <h2 class="event__title" itemprop="name">
        {%- if object.detailed -%}
        <a href="{{detailspage}}/{{object.key}}">
        {%- endif -%}
        {%- if object.important -%}
            <strong>{{ object.title }}</strong>
        {%- elseif object.expected -%}
            {{ object.title }}
            <small>({{ 'PLUGIN_EVENTLIST.EXPECTED_DATE'|t }})</small>
        {%- else -%}
            {{ object.title }}
        {%- endif -%}
        {%- if object.detailed %}
        {{ svg('arrow-right')|raw }}</a>
        {%- endif -%}
    </h2>

    <p class="event__date">
        {%- if object.time -%}
            {{ object.repeating_date }}, <span>{{ object.time }} {{ 'PLUGIN_EVENTLIST.O_CLOCK'|t }}</span>
        {%- else -%}
            {{ object.repeating_date }}
        {%- endif -%}
    </p>

    {%- if object.place -%}
        <div class="event__location" itemprop="location" itemscope itemtype="http://schema.org/Place">
            <span class="location" itemprop="name">
                {% if '@' in object.place %}
                    {{ object.place|safe_email }}
                {% else %}
                    {{ object.place }}
                {% endif %}
            </span>
        </div>
    {%- endif -%}
</article>